<form class="columnFlex form" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <h2>{{form().title}}</h2>
    <div class="fields" formArrayName="fields">
        @for (field of fields.controls; track $index; let i = $index) {
        <mat-form-field>
            <mat-label>{{form().fields[i].title | requiredField}}</mat-label>
            <input matInput id="field-{{ i }}" [matTooltip]="form().fields[i].description"
                [type]="form().fields[i].type!='TEXT' ?hide() ? 'password' : 'text':'text'" [formControlName]="i" />
            <ng-container matSuffix>
                @if(form().fields[i].type=='NEW_PASSWORD'){
                <button mat-icon-button (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide()">
                    <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <button mat-icon-button [matTooltip]="form().fields[i].info??''"> <mat-icon>info</mat-icon></button>
                }
            </ng-container>

            @if(field.invalid && field.touched){
            <mat-error class="validationError" [matTooltip]="form().fields[i].errorMessage">
                {{form().fields[i].errorMessage}}
            </mat-error>
            }
        </mat-form-field>

        }
    </div>

    <button type="submit" mat-flat-button class="submitBtn">{{form().submitLabel}}</button>
</form>