<router-outlet />
<div id="navBar" class="fixed topLeft topRight navBar flex">

        <button mat-icon-button (click)="increaseTextSize()"><mat-icon>text_increase</mat-icon></button>
        <button mat-icon-button (click)="decreaseTextSize()"><mat-icon>text_decrease</mat-icon></button>
        <mat-button-toggle-group name="language" aria-label="Language" (change)="languageChanged($event)" class="langToggler">
            <mat-button-toggle value="en">{{isPersian?'انگلیسی':'English'}}</mat-button-toggle>
            <mat-button-toggle value="fa" [checked]="true">{{isPersian?'پارسی':'Persian'}}</mat-button-toggle>
        </mat-button-toggle-group>
    
        <mat-slide-toggle [labelPosition]="isPersian?'after':'before'" (change)="darkModeToggled($event)">{{isPersian?'حالت تاریک':'Dark Mode'}}</mat-slide-toggle>


</div>