@use '../shared/styles/themes';
.bg-Main {
    background-color:  var(--backgroundColor);
    position: relative;
}

.image {
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0.1;
    width:100vw; 
    height:100vh;
}

.mainContent {
    background-color: var(--backgroundTransparentColor);
    border-radius: 2rem;
    width: 20%;
    height: 75%;
    padding: 3rem;
    -webkit-box-shadow: 0px 0px 10px 1px #0000000f;
    -moz-box-shadow: 0px 0px 10px 1px #0000000f;
    box-shadow: 0px 0px 10px 1px #0000000f;
}