@use 'app/shared/styles/themes';
@font-face {
    font-family: 'Estedad';
    src: url(app/assets/Estedad-Light.woff) format("truetype");
}

html * {
    font-family: Roboto, 'Estedad', "Helvetica Neue", sans-serif !important;

    & .material-icons {
        font-family: Material Icons !important;

    }
}

.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.topRight {
    top: 1rem;
    right: 1rem;
    @media (max-width:767px) {
        right: 0rem;
    }
}

.topLeft {
    top: 1rem;
    left: 1rem;
    &.topRight{
        right: 1rem;
        left: unset;
        @media (max-width:767px) {
            right: 0rem;
        }
    }
    @media (max-width:767px) {
        left: 0rem;
    }
}

.bottomRight {
    bottom: 1rem;
    right: 1rem;
    @media (max-width:767px) {
        right: 0rem;
    }
}

.bottomLeft {
    bottom: 1rem;
    left: 1rem;
    @media (max-width:767px) {
        left: 0rem;
    }
}

.flex {
    display: flex;
}

.columnFlex {
    @extend .flex;
    flex-direction: column;
}

.centerFlex {
    @extend .flex;
    justify-content: center;
    align-items: center;
}

.baselineFlex {
    @extend .flex;
    align-items: baseline;
}

.fullheight {
    height: 100vh;
}

.fullwidth {
    width: 100vw;
}

html,
body {
    height: 100%;
    font-size: 100% ;
}

body {
    margin: 0;
    color: var(--textColor) ;

}

.persian{
    direction: rtl;
}

.material-icons{
    color: var(--iconColor);
}